<section id="faq" class="section section--compact">

        <a class="scrolltonext scrolltonext--top" data-scroll-to="current" href="#"></a>

        <div id="accordion">            
                <div  class="card" >
                    <a data-toggle="collapse" data-target="#collapseOne">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed">
                                Quote #1
                            </button>
                            </h5>
                        </div>
                    </a>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      To be or not to be! -William Shakespeare
                    </div>
                  </div>
                </div>
            
                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseTwo">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="collapseTwo">
                                Quote #2
                            </button>
                            </h5>
                        </div>
                     </a>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Violent delights have violent ends! 
                    </div>
                  </div>
                </div>
                <div class="card">
                    <a data-toggle="collapse" data-target="#collapseThree">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="collapseThree">
                                Quote #3
                            </button>
                            </h5>
                        </div>
                    </a>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                         Luck is dividend of sweat, the more you sweat the luckier you get. -Ray Kroc
                    </div>
                  </div>
                </div>
              </div>
</section>