<section id="faq" class="section section--compact">

        <a class="scrolltonext scrolltonext--top" data-scroll-to="current" href="#"></a>

        <div id="accordion">            
                <div  class="card" >
                   
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" style="cursor:pointer;">
                            <h5 class="mb-0">
                            <p class="collapsed" aria-expanded="false" aria-controls="collapseOne" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                What is OBORChain?
                            </p>
                            </h5>
                        </div>
                  
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      One Belt, One Road is a blockchain solution which consists of many sub-projects such as smart meters, blockchain for art, smart drones, etc...
                    </div>
                  </div>
                </div>
            
                <div class="card">
                    
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" style="cursor:pointer;">
                            <h5 class="mb-0" style="text-align:left;">
                            <p class="collapsed" aria-expanded="false" aria-controls="collapseTwo" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                Which Exchanges support OBORChain?
                            </p>
                            </h5>
                        </div>
                     
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body" style="text-align:left;">
                        Binance and Bitflix. 
                    </div>
                  </div>
                </div>

                <div class="card">
                    
                        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" style="cursor:pointer;">
                            <h5 class="mb-0">
                            <p class="collapsed" aria-expanded="false" aria-controls="collapseThree" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                What is the Contract Address?
                            </p>
                            </h5>
                        </div>
                    
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                         0xFFFFFFFFFFFFF
                    </div>
                  </div>
                </div>
                
                
                <div class="card">
                        
                            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" style="cursor:pointer;">
                                <h5 class="mb-0">
                                <p class=" collapsed" aria-expanded="false" aria-controls="collapseFour" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                    Who is Behind OBORChain?
                                </p>
                                </h5>
                            </div>
                        
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                             A team of highly trained individuals with successful tech advisors such as anyhelper founder, SMA founder, etc...
                        </div>
                    </div>  
                </div>

                <div class="card">
                        
                            <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" style="cursor:pointer;">
                                <h5 class="mb-0">
                                <p class="collapsed" aria-expanded="false" aria-controls="collapseFive" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                    When is the Token Sale?
                                </p>
                                </h5>
                            </div>
                        
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                             Token sale starts on June 7th.
                        </div>
                    </div>
                </div>

                <div class="card">
                        
                            <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" style="cursor:pointer;">
                                <h5 class="mb-0">
                                <p class="collapsed" aria-expanded="false" aria-controls="collapseSix" style="color: #747373; font-family: jaf-domus,sans-serif;">
                                        Will You be Holding a Presale Prior To June 7th?
                                </p>
                                </h5>
                            </div>
                        
                      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                             Only to Private Investors.
                        </div>
                    </div>
                </div>

                    <div class="card">
                            
                                <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" style="cursor:pointer;">
                                    <h5 class="mb-0">
                                    <p class="collapsed" aria-expanded="false" aria-controls="collapseSeven" style="color: #39a4dc">
                                        Which Wallet to Use?
                                    </p>
                                    </h5>
                                </div>
                            
                          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                            <div class="card-body">
                                 DO NOT USE WALLETS FROM EXCHANGE SITES , use MetaMask, myetherwallet, mist or parity.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                            
                                <div class="card-header" id="headingEight" data-toggle="collapse" data-target="#collapseEight" style="cursor:pointer;">
                                    <h5 class="mb-0">
                                    <p class="collapsed" aria-expanded="false" aria-controls="collapseEight" style="color: #39a4dc">
                                            What is the Gas Limit (better make a table for ico info)?
                                    </p>
                                    </h5>
                                </div>
                            
                          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body">
                                 300'000 (300k)
                            </div>
                        </div>
                    </div>


                    <div class="card">
                            
                                <div class="card-header" id="headingNine" data-toggle="collapse" data-target="#collapseNine" style="cursor:pointer;">
                                    <h5 class="mb-0">
                                    <p class="collapsed" aria-expanded="false" aria-controls="collapseNine" style="color: #39a4dc">
                                            Will You be Launching Your Own Blockchain Network?
                                    </p>
                                    </h5>
                                </div>
                            
                          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="card-body">
                                 We will be launching our OBORChain network in quarter 2, 2019. All sub-projects of OBORChain will be able to trade in their ERC20 tokens for OBOR Coins.
                                 And hence be able to participate in the OBOR network.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                           
                                <div class="card-header" id="headingTen" data-toggle="collapse" data-target="#collapseTen" style="cursor:pointer;">
                                    <h5 class="mb-0">
                                    <p class="collapsed" aria-expanded="false" aria-controls="collapseTen" style="color: #39a4dc">
                                            What is Your End Goal?
                                    </p>
                                    </h5>
                                </div>
                           
                          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                            <div class="card-body">
                                 Upon successful launch of all the subprojects we will initiate OBOR mainnet and all the sub-network ethereum based ERC20 tokens will be traded in for OBOR Coin.
                                 We Plan to connect all One Belt, One Road countries together using OBOR network.
                            </div>
                        </div>
                    </div>







            </div>
</section>